@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
}

<h2 class="logo-home">Agregar o editar Veterinario</h2>

<div class="contenido">
<form method="post" >
    <div class="form-group">
    <label asp-for="veterinario.Id"></label>
        <input input type="hidden" class="inputform" placeholder="ID" asp-for = "veterinario.Id" />
    
        <input input type="text" class="inputform" placeholder="Nombre" asp-for="veterinario.Nombres" class="form-control">
      
        <input input type="text" class="inputform" placeholder="Apellidos" asp-for="veterinario.Apellidos" class="form-control">
    
        <input input type="text" class="inputform" placeholder="Direccion" asp-for="veterinario.Direccion" class="form-control">
      
        <input input type="tel" class="inputform" placeholder="Telefono" asp-for="veterinario.Telefono" class="form-control">
      
        <input input type="text" class="inputform" placeholder="Tarjeta Profesiona;" asp-for="veterinario.TarjetaProfesional" class="form-control">

        <button type="submit" class="btn btn-primary">Grabar</button>
    </div>
</form>

<a asp-page="./ListaVeterinarios" class="btn-default">Lista de Veterinarios </a>