@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="contenido logo-home">
<p>Bienvenido a Mascota Feliz<p>
 <img src="../css/images/perro.png"  width="400" height="400"/>
</div>
